/* body{
  background-color: rgb(230, 230, 132);
} */


.radarChart{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.259);
  width: 50rem;
  height: 32rem;
  border-radius: 20px;
  box-shadow: 2px 2px 5px #0000005f;
}

.radarChart:hover{
  background-color: rgba(7, 7, 7, 0.358);
  transition: 0.5s ease-in;
  transition: 0.2s ease-out;
}

.mainRadar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.radarWrapper{
  background-color: transparent;
}

.radarWrapper h1{
  color: #fff;
}